<footer>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-0">Terima kasih sebanyak banyaknya untuk yang membuat API public ini.</p>
                <p class="mb-0">Keren banget semoga sehat dan panjang umur.</p>
                <p>Juga kepada penyedia download resource gambar dan kepada situs mobile legend itu sendiri.</p>
                <p>API public by : <a href="https://dazelpro.com/api/mobile-legends" class="ms-2">DAZELPRO</a></p>
                <div class="row d-flex flex-column">
                    <div class="col-lg-3">
                        <p>Download resource by :</p>
                    </div>
                    <div class="col-lg-3 ps-2 my-2">
                        <a href="https://mobile-legends.fandom.com/wiki/Mobile_Legends:_Bang_Bang_Wiki" class="ms-1">
                            mobile legend fandom
                        </a>
                    </div>
                    <div class="col-lg-3 ps-2">
                        <a href="https://m.mobilelegends.com/id/" class="ms-1">mobile legend: bang-bang</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>